{% extends "index.html" %}

{% block title %}offers{% endblock title %}


{% block style %}

 /* offers blog  */

 .container04{
    margin-top: 20px;
    background-color:lightslategrey ;
    color:#dc9321;
    height: 20%;
    width: auto;
    
}


.jumbotron-up {
    cursor: default;
}

.jumbotron {
    background-color: #cdcdcd;
}

.jumbotron .container:before {
    content: '';
    display: table;
}

.right-image {
    position: absolute;
    top: 15%;
    left: 600px;
    width: 55%;
    height: auto;
}

.title {
    color: #383c43;
    font-size: 40px !important;
    font-weight: 700 !important;
    line-height: 1.1;

    // Phone
    @media only screen and (max-width: 767px) {
        font-size: 26px !important;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 36px !important;
    }


    /* Portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 36px !important;
    }


    /* Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 36px !important;
    }

}

.money-back {
    letter-spacing: inherit;
    line-height: 20px;
    font-weight: 500;
    margin: 0;

    @media only screen and (max-width: 767px) {
        font-size: 13px;
    }
}

.btn-offer {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 7px 18px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: #d2a767;
    border-color: #d2a767;
    transition: 1s all ease-in-out;
}

.btn-offer:hover {
    background-color: #dc9321;
    border-color: #dc9321;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    transition: 0.7s all ease-in-out;
}

.img-responsive {
    max-width: 555px;
    max-height: 555px
}

.info-icon {
    margin-right: 5px;
    vertical-align: text-bottom;
}

@media only screen and (max-width: 767px) {

    .mobile-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.more-info-link {
    color: inherit;
    text-decoration: underline;
    transition: 0.7s all ease-in-out;

    &:hover {
        color: #c38a35;
        transition: 0.7s all ease-in-out;
    }
}

.subject {
    letter-spacing: 3px;
    font-size: 14px;
    color: #717282;
}





h3 {
    margin: 0;
    font-size: 17px;
    line-height: 1.23536;
    white-space: normal;
  }
  
  ul {
    all: unset;
    list-style: none;
  }
  
  img {
    width: auto;
    height: var(--item-size);
  }
  
  .carousel {
    scroll-padding: 0 12px;
  
    width: 100vw;
    display: flex;
    gap: 20px;
  }
  
  .x-slide {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
  
  .item {
    scroll-snap-align: start;
  
    background-color: white;
    flex: 0 0 auto;
    display: grid;
    place-content: center;
  
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 18px;
    
    width: var(--item-size);
    padding: 30px;
  }
  
  .content-info {
    height: 8.76471rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    padding: 0 30px;
  }
/* offers product */
.container001{
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
}

/* discount*/
.style-1{
  del {
    color: red;
    text-decoration: none;
    position: relative;
    &:before {
      content: " ";
      display: block;
      width: 100%;
      border-top: 2px solid red;
      height: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(-7deg);
    }
  }
  ins {
    color: green;
    font-size: 32px;
    text-decoration: none;
    padding: 1em 1em 1em .5em;
  }
}

/* image */
.container001 img {
  width: 397px;
  height: 563px;
}

{% endblock style %}



{% block body %}
<div class="container02">
    <!-- Summer Jumbotron -->
<section class="jumbotron-up">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row align-items-center">

                <!-- Left content -->
                <div class="col-xs-12 col-sm-6 mobile-flex">
                    <div class="mb-2">
                        <p class="subject">Grand Sale Offer</p>
                    </div>
                    <h1 class="title mb-5 mb-sm-6">Summer Time: Grab this deal right now, tomorrow might be gone!</h1>
                    <a class="btn-offer" href="" data-slug="See our offer" aria-label="See our offer" role="btn-offer" tabindex="0">See Offer</a>

                    <div class="mt-3">
                        <div class="money-back-container">
                            <div>
                                <span class="info-icon"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z" />
                                    </svg></span><span class="vertical-middle money-back c-bw-12">Covered by the 30-day money-back guarantee policy. </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End left content -->

                <!-- Right image -->
                <div class="col-xs-12 col-sm-6 pt-7 pt-sm-0">
                    <div class="center-block img-responsive">
                        <div class="image-zone" style="padding-top:100%"><img class="right-image" src="https://i.ibb.co/vzRN098/gold.png" alt="Jumbotron Offer Deal Example" width="555" height="555"></div>
                    </div>
                </div>
                <!-- End right image -->

            </div>
        </div>
    </div>
</section>
</div>




<!-- offer product -->

<div class="container001">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img  class="img-responsive" src="/static/image/17.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Green T-shirt</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹800/-</span>
                </del>
                <ins>
                  <span class="amount">₹600/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/18.jpg"  alt="image">
        <div class="card-body">
          <p class="card-text"><b>Brown Stretch Relax Fit Cargo Trouser</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹1,200/-</span>
                </del>
                <ins>
                  <span class="amount">₹750/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/19.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Blue T-shirt</b>.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹700/-</span>
                </del>
                <ins>
                  <span class="amount">₹500/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/20.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Jacket-Brown</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹2,200/-</span>
                </del>
                <ins>
                  <span class="amount">₹1,200/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/20(1).jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Jacket-Black</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹3,800/-</span>
                </del>
                <ins>
                  <span class="amount">₹2,600/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/20(2).jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>White T-shirt</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹1,200/-</span>
                </del>
                <ins>
                  <span class="amount">₹700/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/21.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Black T-shirt & white Jeans</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹3,600/-</span>
                </del>
                <ins>
                  <span class="amount">₹2,100/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/22.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Blue Suit</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">₹18,500/-</span>
                </del>
                <ins>
                  <span class="amount">₹11,000/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/image/23.jpg" alt="image">
        <div class="card-body">
          <p class="card-text"><b>Oversized Printed Jacket</b></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <div class="discount">
              <div class="style-1">
                <del>
                  <span class="amount">15,900/-</span>
                </del>
                <ins>
                  <span class="amount">9,200/-</span>
                </ins>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}